<h1><%=t "users.new.title_list" %></h1>
<table class="table">
  <thead>
    <tr>
      <th><%= t "table.name" %></th>
      <th><%= t "table.email" %></th>
      <th><%= t "table.action" %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <%= render @users %>
</tbody>
</table>
<%== pagy_nav(@pagy)%>
