<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to t("index.app"), root_path, id: "logo" %>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <div class="nav-link"><%= link_to static_pages_home_path do %>
            <%= t ".home" %>
          <% end %></div>
      </li>
      <li class="nav-item">
        <div class="nav-link"><%= link_to static_pages_help_path do %>
            <%= t ".help" %>
          <% end %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link"><%= link_to static_pages_contact_path do %>
            <%= t ".contact" %>
          <% end %>
        </div>
      </li>
      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <%= t "user.account" %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="nav-link">
              <%= link_to t("users.new.log_out"), logout_path, method: :delete %>
            </div>
            <div class="nav-link">
              <%= link_to t(".setting"), edit_user_path(current_user) %>
            </div>
            <div class="dropdown-divider"></div>
            <%# <a class="dropdown-item" href="#">Something else here</a> %>
          </div>
        </li>
      <% else %>
        <li class="nav-item nav-link">
          <%= link_to t("users.new.log_in"), login_path, class: "text-primary" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
